footer
  background main
  padding rem(50px) rem(25px)
  font-size .75rem
  display flex
  color secondary

  ul
    list-style none
    margin-right 25px
    -webkit-box-flex 0
    -webkit-flex 0 0 auto
    -ms-flex 0 0 auto
    flex 0 0 auto	
 
	p, a
    text-decoration none
    mainFont(300)
    color second !important
    text-align center
    margin 0
  
  a:hover
    color secondarya

a
	:link
		color inherit

	:visited
		color inherit
