+media-query( all, min-width 320px )
  width 50%

.grid-sizey, .grid li
  width 100%
 
  +media-query( only screen, min-width 767px )
    width 50%
  +media-query( only screen, min-width 1080px )
    width 33.33%
