.Logo	
	
	.name
		display block
		font-weight 400
		text-transform uppercase
		font-size	.9rem
		letter-spacing 2px
	
	.text
		display block
		text-transform uppercase
		font-size .55rem
		letter-spacing 8.6px
		opacity .3
		text-align center
