footer
  ul
    li.title Contact
    li marcus@marcusartesecia.com
  ul
    li.title Made by 
    li 
      a(href="http://nipher.io") @Nipher

script(src="assets/lib/masonry.js")
script(src="assets/lib/classie.js")
script(src="assets/lib/modernizr.js")
script(src="assets/lib/imagesLoaded.js")
script(src="assets/lib/animOnScroll.js")
script(src="assets/lib/holder.js")
script(src="assets/lib/photoswipe.js")
script(src="assets/lib/photoswipe-ui-default.js")
script(src="assets/lib/photoswipe-from-dom.js")
script(src="js/main.js")
