extends layouts/default.jade

block content
  secition.grid-wrap
    ul#grid.grid.swipe-right
      li.grid-sizer
      - for job in public._data.jobs
        li
          a				
            img(src="#{job.img}")
            h3= job.title
