block modifiers
  - body_modifier = body_modifier || ''
  - header_state = header_state || ''

doctype html
html(itemscope itemtype="http://schema.org/WebPage")
  include ../_includes/head.pug
  body(class=body_modifier)
    header(class=header_state)
      .header-inner
        .logo
          span.name Marcus de Andrade
          span.text Fine artist

    main
      block content

    include ../_includes/footer.pug
