header
  display flex
  color rgb(255, 255, 255)
  justify-content center
  align-items center
  height 100%
  background main

  &.top
    animation goTop 1.4s ease-out 2s forwards
    
    .logo
      .name
        font-size .875rem
        transition font-size 2s
        transition-delay 1.8s

      .text
        font-size .563rem
        transition font-size 2s
        transition-delay 1.8s

.logo

  .name
    opacity 0
    font-size 1.9rem
    text-align center
    
    animation fadeIn .8s ease-out forwards
    
  .text
    opacity 0
    font-size 1.55rem
    text-align center
    
    animation fadeIn .8s ease-out forwards
    animation-delay .8s
