header
  display flex
  color rgb(255, 255, 255)
  justify-content center
  align-items center
  height 100%
  background main

  &.top
    animation goTop 1.4s ease-out 2s forwards
  
.logo

  .name
    opacity 0
    font-size 1.9rem
    text-align center
    
    animation-name fadeIn, fontSizeLogoName
    animation-duration .8s,.8s
    animation-timing-function ease-out
    animation-fill-mode forwards
    animation-delay 0s,2s

  .text
    opacity 0
    font-size 1.55rem
    text-align center
    animation-name fadeInLogoText, fontSizeLogoText
    animation-duration .8s, .8s
    animation-timing-function ease-out
    animation-fill-mode forwards
    animation-delay .8s, 2s  
