.logo

  .name
    display block
    font-weight 400
    text-transform uppercase
    letter-spacing 2px 

  .text
    display block
    text-transform uppercase
    letter-spacing 5.6px
    text-align center
