footer
  ul
    li.title Contact
    li marcus@marcusartesecia.com
  ul
    li.title Made by 
    li 
      a(href="http://nipher.io") @Nipher

script(src="js/modernizr.js")
script(src="js/colorfinder.js")
script(src="js/masonry.js")
script(src="js/classie.js")
script(src="js/imagesLoaded.js")
script(src="js/gridScrollFx.js")

script(src="js/main.js")
