footer
  background main
  padding rem(50px) rem(25px)
  font-size .75rem
  display flex
  color secondary

  ul
    list-style none
    margin-right 25px
    flex 0 0 auto
    
    .title
      font-weight bold

  p, a
    text-decoration none
    mainFont(300)
    color secondary !important
    text-align center
    margin 0
  
  a:hover
    color secondary

a
  :link
    color inherit

  :visited
    color inherit
