@import "../../node_modules/kouto-swiss"
normalize()
meyer-reset()
@import "_variables.styl"
@import "_animations.styl"
@import "_grid.styl"
@import "_footer.styl"
@import "_header.styl"
@import "_logo.styl"

html, body
  height 100%

body
  display flex
  flex-direction column
  margin auto
  font 16px/1.5 "Open Sans","Helvetica Neue",Helvetica,arial,sans-serif
  overflow-x hidden
  text-rendering optimizeLegibility
  font-weight 300
  letter-spacing .1px
  -webkit-font-smoothing antialiased

  &.loading
    overflow hidden

main
  flex 1
  background secondary

  +media-query(only screen, min-width 640px )
    padding rem(5px) rem(20px)
  +media-query( only screen, min-width 960px )
    padding rem(10px) rem(50px)
  +media-query( only screen, min-width 1824px )
    padding rem(10px) rem(200px)

a
  :link
    color inherit

  :visited
    color inherit
