extends layouts/default.jade

block content
  secition.grid-wrap
    #grid.grid.swipe-down
      .grid-sizer
      - for job in jobs
        .grid-item
          a
            img(src="#{job.minImg}")
            .overlay
              h2=job.title
              p=job.desc
